* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  width: 1024px;
  margin: 0 auto;
}
article {
  width: 50%;
  float: left;
  padding: 30px;
}
article img {
  width: 100%;
}
button {
  background-color: chartreuse;
}
